@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

html, body, #root, .app {
  height: 100%;
}

button {
  border: none;
  padding: 3px 6px;
  border-radius: 4px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10px;
}

.nav > button {
  padding: 4px 8px;
}

.calendar {
  font-family: sans-serif;
  width: fit-content;

  margin: 0 auto;
  border-radius: 10px;
  outline: 1px solid #E8EDF3;
  overflow: hidden;
}

.calendar__header {
  display: grid;
  grid-template-columns: repeat(7, 150px);
  gap: 1px;
}

.calendar__header-title {
  text-align: center;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  text-transform: lowercase;
  outline: 1px solid #E8EDF3;
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 150px);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
}

.calendar__day {
  height: 100px;
  padding: 4px;
  background-color: white;

  display: flex;
  flex-direction: column;
  outline: 1px solid #E8EDF3;
}

.calendar__day.grayed {
  background-color: #F5F9FD;
  color: #94A3B8;

}

.day__number {
  margin: 0 0 0 auto;
  aspect-ratio: 1;
  font-weight: bold;
  padding: 4px 8px;
}

.day__number.today {
  background-color: black;
  color: white;
  border-radius: 6px;
}